/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* asterisk styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for index file */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fffcf2;
  font-size: 40px;
  padding: 20px;
  border-top: 100px;
}
.landing-page h2 {
  font-size: 40px;
}
.landing-page h1,
.landing-page h2,
.landing-page button {
  margin: 20px 0;
}
/* Play Button Styling */
#playButton {
  border-radius: 10px;
  width: 100px;
  font-size: 25px;
  color: #252422;
  background-color: #fffcf2;
  transition: transform 0.2s ease;
}
/* Styling for typing-test file */
/* general styling */
body {
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #252422;
  color: #252422;
}
#display-flex {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fffcf2;
  padding: 30px;
  width: 80%;
  /* max-width: 90%; */
  border-radius: 10px;
}
.container .info-box {
  padding: 10px 18px 0;
  border-radius: 10px;
}
/* Count-down timer */
.count-down {
  position: absolute;
  top: 4rem;
  font-size: 4rem;
  color: #fffcf2;
}
/* Display Text */
.display-text {
  font-size: 22.5px;
  letter-spacing: 1px;
  text-align: justify;
  word-break: break-all;
  border-bottom: 1px solid #252422;
  padding-bottom: 5px;
  color: #fffcf2;
  padding-bottom: 50px;
  width: 80%;
  /* user-select: none; */
}
.info-box .score {
  padding: 10px 10px;
}
/* Text Area */
.text-area textarea {
  width: 100%;
  height: 150px;
  border-color: #252422;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: #fffcf2;
  font-size: 17.5px;
}
.text-area textarea::-webkit-scrollbar {
  width: 0;
}

/* Results */
.score .results {
  width: 100%;
  display: flex;
  padding: 7px;
  font-size: 20px;
}
.container .score {
  display: flex;
}
.results li {
  display: flex;
  list-style: none;
  width: 100%;
}
/* Button */
.score button {
  border: none;
  border-radius: 10px;
  width: 100px;
  color: #fffcf2;
  background-color: #252422;
  transition: transform 0.2s ease;
  font-size: 15px;
}
.score button:active {
  transform: scale(0.95);
}
/* Correct / Incorrect quote colors */
.correct {
  color: #3f8f29;
}
.incorrect {
  color: #de1a24;
}
/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252422;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.modal-content {
  background-color: #fffcf2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 5px;
}

.modal-content span {
  font-weight: bold;
}

/* Media Queries  */

/* Media Query: small phone + (280px+) */

/* index.html styling */

@media screen and (min-width: 280px) and (max-width: 374px) {
  .landing-page {
    font-size: 30px;
  }
  .landing-page h2 {
    font-size: 27.5px;
  }
  #playButton {
    font-size: 20px;
  }
  /* Typing-test.html styling */
  .container {
    padding: 15px;
    width: 280px;
  }
  .display-text {
    font-size: 15px;
    width: 250px;
    padding-bottom: 75px;
  }
  .score .results {
    font-size: 15px;
    justify-content: space-between;
    display: block;
    padding-left: 50px;
  }
  .score button {
    font-size: 13.5px;
    width: 100px;
    align-self: center;
    height: 35px;
  }
  .count-down {
    font-size: 3rem;
  }
  .score {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .results li {
    width: 0;
  }
  /* Modal Styling */
  .modal {
    font-size: 12.5px;
  }
}
/* media query for medium size phones */

/* Media Quer: Medium phones + (375px+) */

/* Typing-test.html styling */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .display-text {
    font-size: 17.5px;
  }
  .count-down {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  .score .results {
    font-size: 17.5px;
    justify-content: space-between;
    display: block;
    padding-left: 50px;
  }
  .score {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .score button {
    font-size: 15px;
    width: 100px;
    align-self: center;
    height: 35px;
  }
  .container {
    padding: 15px;
    width: 280px;
  }
  /* Modal Styling */
  .modal {
    font-size: 15px;
  }
}
/* Media Query: tablets + (768+) */

/* index.html styling */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .landing-page {
    font-size: 35px;
  }
  .landing-page h2 {
    font-size: 30px;
  }
  #playButton {
    font-size: 25px;
  }
  /* Typing-test.html styling */
  .count-down {
    font-size: 3rem;
    padding-top: 75px;
  }
  .display-text {
    font-size: 17.5px;
  }
  .container {
    width: 100%;
  }
  .display-text {
    width: 100%;
  }
  .score .results {
    font-size: 15.5px;
    padding-right: 10px;
  }
  .score button {
    font-size: 15px;
  }
  /* Modal Styling */
  .modal {
    font-size: 20px;
  }
  /* Modal Styling */
  .modal {
    font-size: 20px;
  }
}
