/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* asterisk styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: boorder-box;
}

/* general styling */
body {
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fdf0d5;
}
.container {
  background: #669bbc;
  padding: 30px;
  width: 75%;
  max-width: 90%;
  border-radius: 10px;
}
.container .info-box {
  padding: 10px 18px 0;
  border: 1px solid #ffff;
  border-radius: 10px;
}
/* Count-down timer */
.count-down {
  position: absolute;
  top: 2rem;
  font-size: 4rem;
  color: #669bbc;
}
/* Quote Styles */
.display-q {
  padding-bottom: 10px;
}
